<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h2 class="form-signin-heading">Resend confirmation instructions</h2>
  <h2 class="form-signin-logo"><img src="/assets/logo.png"></h2>
  <div class="login-wrap">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <div class="form-actions">
      <%= f.button :submit, "Resend confirmation",class: "btn btn-lg btn-info btn-block" %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
