<div class="row">
  <div class="col-lg-12">
    <nav aria-label="breadcrumb" class="breadcrumb-bottom">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">
          Customer Edit
        </li>
      </ol>
    </nav>
  </div>
</div>
<%= render 'form' %>
