$('#overlay').hide();
$(".alert_block").html("<div class='alert alert-danger'> <%= @error %> <button type='button' class='close' style='margin-right: -13px;margin-top: -7px;margin-left: 20px;' data-dismiss='alert' aria-label='Close'> <span aria-hidden='true'>&times;</span></button> </div>");