<!DOCTYPE html>
<html lang="en">
<head>
  <title>LsAdmin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="/assets/style.css" rel="stylesheet">
</head>
  <body class="login-body">
    <div class="container">
      <%= yield %>      
    </div>
  </body>
</html>
